
:root {
    --main-color:#deab5f;
    --primary-color:#312e2e;
  
}

/* Utility Styles*/

button{
    padding:10px 30px;
    background: var(--main-color);
    border:none;
    cursor:pointer;

}

/*Resets*/
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    Font-family:"Playfair Display", serif;
}

body{
    background: #100e0f;;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-family: sans-serif;
    padding-top: 15px;
}

li{
    display: inline;
    list-style: none;
}

li a{
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    padding-bottom: 10px;
}

li a:hover{
    border-bottom: 2px solid var(--main-color);
}

/* Nav end */

/* Header start */
.header{
    background: url(/public/Screenshot_2025-03-17_161051-removebg-preview.png);
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Playfair Display', sans-serif;
}



/* Header end */

